
  /* background-color: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3)); */

  body {
    height: 100vh;
    background: linear-gradient(#F196BC,#FAFAF3, #51C2FF); 
  }



.hidden{
  visibility: hidden;
}


.catTile {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
   outline: #3B0B0B solid thick; 
  transition: 0.75s;
  opacity: 1;
}



.lepTile {
  display: inline-block;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%; 
  height: 80%;
  transition: 0.75s;
  opacity: 1;

}



.input {
  width: 10px;
  height: 25px;
 }


.wordTile {
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  transition: 0.75s;
  opacity: 1;
  width: 10px;
  height: 10px;
}



.image
{ position:fixed;
  top:0;
  height: 50%;
width: 80%;
border-radius: 70px}

.mapsize{
  position:flex;
  margin-top: 53px;
  height: 70%;
width: 70%;
align-content: center;
border-radius: 70px
}

.places{
top: 82%;
padding-top: 0;
position:flex;
align-content: center;

}

.size
{
  position: relative;
  height: 48%;
width: 78%;
top: 1%;
border-radius: 70px}


  *button{

      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      /* margin: 4px 2px; */
   border-radius: 10px;
  
  
  }
  
.rockButton{
  height: 120px;
  width: 120px;
  border-radius: 8px;

}

.buttons{ 
  border-radius: 8px;
align-content: center;
}



  * {
    font-family: fantasy;
    text-align: center;
   }



  .doorSize{
    width:200px;
    height:300px;}

    #door{
     margin-top:100px;
      /* margin-left:600px;  */
    transform:perspective(300px) rotate(0deg);
    transform-origin:0% 0%;
    animation:open 3s linear;
   }
   
   @keyframes open{
     0%{ transform:perspective(300px) rotateY(80deg);
   }
   25%{ transform:perspectives(300px) rotateY(0deg);

   }

   50%{ transform:perspectives(300px) rotateY(20deg);

   }

   75%{ transform:perspectives(300px) rotateY(0deg);

   }

   100%{ transform:perspectives(300px) rotateY(80deg);

   }}

.riddle-correct
{
  position: fixed;
top: 80%;
justify-content: center;
align-items: center;
width: 100%
}

  

.nav-container{
  position:fixed;
  top:0;
  left: 4%;
  width: 50%;
  height:20x;
  display: flex;
  align-items: left;
  /* justify-content: space-between;  */
  font-size: calc(10px + 2vmin);
  height: 65px;
}


.watch{
height: 200px;
width: 200px;
border-radius: 100%;
justify-content: center;
}

.logout-container{
  position:fixed;
  top:1%;
  right: 4%;}

  .login-container{
    position:fixed;
    top:0%;
    right: 9%;}

    .signup-container{
      position:fixed;
      top:0%;
      right: 4%;}


      .h-container{
        position:fixed;
        top:0;
        height:0;
        width: 100%;
        justify-content: center;}