
  /* background-color: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3)); */

  body {
    height: 100vh;
    background: linear-gradient(#F196BC,#FAFAF3, #51C2FF); 
  }

  .borderpretty
  {border-style: dotted;}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.catTile {
  display: inline;
  /* background-repeat: no-repeat; */
  background-position: center 60%;
  float: right;
  margin: 1%;
  padding: 40px 25x;
  outline: #3B0B0B solid;
  transition: 0.75s;
  opacity: 1;
  height: 200px;
  width: 300px;
  text-align: center;
}

image
{height: 500px;
width: 9}



.size{
  height: 500px;
  width: 900px;
  
  }

  

  .singleCard{
    text-align: center;
    justify-content: center;
    height: 50px
  }

  * {
    font-family: fantasy;
    text-align: center;
   }