
  /* background-color: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3)); */

  body {
    height: 100vh;
    background: linear-gradient(#F196BC,#FAFAF3, #51C2FF); 
  }



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden{
  visibility: hidden;
}



.catTile {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
   outline: #3B0B0B solid thick; 
  transition: 0.75s;
  opacity: 1;
}



.lepTile {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%; 
  transition: 0.75s;
  opacity: 1;
}



.input {
  width: 10px;
  height: 25px;
 }


.wordTile {
  /* display: inline; */
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  transition: 0.75s;
  opacity: 1;
  width: 10px;
  height: 10px;
}






image
{height: 500px;
width: 9}



.size{
  height: 500px;
  width: 900px;
  
  }



  *button{

      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      /* margin: 4px 2px; */
   border-radius: 2px;
  
  
  }
  
.rockButton{
  height: 120px;
  width: 120px;
}

    

  .wrapper {
    display: flexbox;
    
  }

  .singleCard{
    text-align: center;
    justify-content: center;
    height: 50px
  }


 
  

  .singleCard{
    text-align: center;
    justify-content: center;
    height: 50px
  }

  * {
    font-family: fantasy;
    text-align: center;
   }





  .doorSize{
    width:200px;
    height:300px;}

    #door{
      /* margin-top:100px;
      margin-left:600px; */
    transform:perspective(300px) rotate(0deg);
    transform-origin:0% 0%;
    animation:open 4s linear;
   }
   
   @keyframes open{
     0%{ transform:perspective(300px) rotateY(80deg);
   }
   25%{ transform:perspectives(300px) rotateY(0deg);

   }

   50%{ transform:perspectives(300px) rotateY(20deg);

   }

   75%{ transform:perspectives(300px) rotateY(0deg);

   }

   100%{ transform:perspectives(300px) rotateY(80deg);

   }}



   #active{
  transform:perspective(300px) rotate(0deg);
  transform-origin:0% 0%;
  animation:open 4s linear;
 }
 
 @keyframes open{
   0%{ transform:perspective(300px) rotateY(80deg);
 }
 25%{ transform:perspectives(300px) rotateY(0deg);

 }

 50%{ transform:perspectives(300px) rotateY(20deg);

 }

 75%{ transform:perspectives(300px) rotateY(0deg);

 }

 100%{ transform:perspectives(300px) rotateY(80deg);

 }

}